body {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.container {
    display: inline-grid;
    grid-template-columns: 250px 1000px;
    gap: 4px;
    padding: 15px;
    /*font-size: 32px;*/
    font-family: helvetica;
    font-weight: bold;
    color: white;

}
.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: rgb(39, 36, 36);
    color: white;
    grid-area: 1 / 1 / 1 / 8;
    padding: 30px;
}

.header-logo {
    font-weight: bold;
    padding-right: 250px;
    font-size: 16px;
}

.four {
    padding-right: 50px;
}

.placeholder {
    background-color: red;
    display: inline-grid;
    grid-template-rows: repeat(4, 150px);
    gap: 10px;
    grid-area: 2 / 1 / 5 / 1;
    color: black;

}

.image, 
.box1, 
.box2, 
.box3 {
    background-color: white;
    border: 15px solid red;
    text-align: center;
    padding-top: 50px;   
}

.image {
    border-radius: 25px;
}

.preview {
    display: flex;
    justify-content: space-between;
    background-color: red;
    grid-area: 2 / 2 / 2 / 8;
    color: white;
    padding: 15px;
}

.latest {
    padding-left: 100px;
}

.featured {
    padding-right: 150px;
}

.row1 {
    
    background-color: green;
    grid-area: 3 / 2 / 3 / 8;
    display: flex;
    
}

.row2 {
    display: inline-grid;
    background-color: yellow;

}

.row3 {
    display: inline-grid;
    background-color: blue;

}

.footer {
    background-color: rgb(39, 36, 36);
    color: white;
    grid-area: 6 / 1 / 6 / 8;
    text-align: center;
    padding: 15px;
}

